<a href="https://colab.research.google.com/github/cocolleen/CPEN-21A-CPE1-2/blob/main/Lesson_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python

In [2]:
#Python Indention
if 5>2:
  print("five is greater than two")

five is greater than two

In [5]:
x = 1 #this is a single variavle with single valye
x, y = 1,2 #these are twp variables with two different values
y, y, z = 1, 4, 3 
print(x)
print(y)
print(z)

1
4
3

In [7]:
#Casting
b = int(4)
b
c = float(4)
c

4.0

In [10]:
x = 5
y = "john" #this is a type of string
h = "ana"
H = "COL"
#H is not equal to h


print(type(x))
print(type(y))
print(h)
print(H)

<class 'int'>
<class 'str'>
ana
COL

In [11]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

In [12]:
x = "enjoying"
print("Python Programming is"  " " + x)

Python Programming is enjoying

In [13]:
x= 11
y = 12
print (x+y)

23

In [14]:
x+=3  #this is the same as the x = x+3
print(x)

14

In [18]:
y+=5
print(y)

17

In [19]:
print(x>y)

False