<a href="https://colab.research.google.com/github/cocolleen/CPEN-21A-CPE1-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [3]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday","Friday", "Saturday"]

for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

#The Break Statement

In [6]:

for x in week:
  print (x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [9]:
for x in week:
  if x == "Thursday":
    break
  print (x)

Sunday
Monday
Tuesday
Wednesday

#Looping through string

In [12]:
for x in "Programmming with python":
  print (x)

P
r
o
g
r
a
m
m
m
i
n
g

w
i
t
h

p
y
t
h
o
n

#The range function

In [13]:
 for x in range(10):
   print (x)

0
1
2
3
4
5
6
7
8
9

#Nested Loops

In [14]:
adjective = ["red", "big", "tasty"]
fruits = ["apple","banana", "cherry"]

for x in adjective:
  for y in fruits:
    print (x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While loop

In [17]:
i = 10
while i > 6:
  print(i)
  i -= 1 #Assignment operator for subtraction i = 1 - i

10
9
8
7

#The break statement

In [18]:
i = 10
while i > 6:
  print (i)
  if i == 8: 
    break
  i-=1

10
9
8

#The continue statement

In [20]:
i = 10
while i>6:
  i = i - 1
  if i == 8:
    continue
  print (i)

9
7
6

#The else statement

In [21]:
i = 10
while i>6:
  i = i - 1
  print (i)
else:
  print ("i is no longer greater than 6")

9
8
7
6
i is no longer greater than 6

###Aplication 1

In [36]:
#WHILE LOOP
x = 0
while x <= 10:
  print ("Value", x)
  x+=1

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [37]:
#FOR LOOPS
value = ["Value 1", "Value 2", "Value 3", "Value 4", "Value 5","Value 6", "Value 7", "Value 8", "Value 9", "Value 10"]

for x in value:
  print (x)

Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

###Application 2

In [28]:
i = 20
while i>4:
  i -= 1
  print (i)

else:
  print ('i is no longer greater than 3')

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
i is no longer greater than 3